@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F5F8FD;
  color: #363545;
  font-family: 'Lexend Deca', sans-serif;
}
